@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1561098076235'); /* IE9 */
  src: url('iconfont.eot?t=1561098076235#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABkQAAAJVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMYAE2AiQDCAsGAAQgBYRtBzIbiAXILjEVGemuJMBK5nY5Nk/7Bv48BFAQQbHf696DH2BUmUhADaiiw0KFbcqywtfX1mi0SPptv5+mxMLmfFlWESrY/Ie8D5yf0vmpWTJySk3ITbhdhRw45OYH0INRHGlUf5WZ0Um9HsleClRMlS0XLj7P5fQm0IHMD3SO19w01sCJAcY9H4B7YdSLpIQybphevqCBvE+gUq+2zNpyf4KyjF4WiHPH0qCci8lkrFgulGr2Zm/jmVx5cp8UT8Pvx1czUU4iT+nKzcOFCeMPpiy9K+4c+IQ4AR3OkWIayIjd2ty6nGBcTmUubxDsqzn4sFQUvlfs1SXYX6cbq0E3VO9J47S3WkzgtsZqBDpGvZ1ovHz9rvm3WvvwxcMWr5/kb+sU/E8XzT28/0ftT08PS/Bn2e/kAsHrn/fSmvtfTgZezzw3VPsFKN+HP/gX0fwlLXqh07kkAxodSDSeo6VSJQoo1Oh3rL3lxKVQrmVEoExPilS5YTJjp5GrMouScouoNGV1uEoTlhNZBSa9AIR6X0jUeoVUvW8yY3+Qa/WHkvpIUWk/ms6sMhon1VUmTchE/Y6OEYXK+qQaNR/IOvsaZ3Uh/0ycOkkcdPvF4opC4jk2pBdrKKJQcRTgEjxGvh9hzJFLhnRtkXjU66m6F3WNKICqVYxoBDEh3R1yGCIh5Q8W1dLnD4jlzKfhlp5c+YywlDM5Gujq9yBX5rBXz708k7qwDAmhIIVFAmgJZhGfL4Li+lkuYhBd9ohMbKRn+qm+5u761uDrDkEl7UjCTE+VX9gUWsmZAAAA') format('woff2'),
  url('iconfont.woff?t=1561098076235') format('woff'),
  url('iconfont.ttf?t=1561098076235') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1561098076235#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengque:before {
  content: "\e640";
}

